<div class="container">
  <h1>Ajouter un Film</h1>
  <p>
    Remplissez les champs ci-dessous pour ajouter un film à la base.
  </p>

  <form #addFilm="ngForm" (ngSubmit)="onSubmit()">

    <div class="form-group">
      <label for="titre">Titre</label>
      <input type="text" class="form-control" id="titre" [(ngModel)]="film.titre" name="titre" required #titre="ngModel">
    </div>
    <div [hidden]="titre.valid || titre.pristine"
         class="alert alert-danger">
      Le titre est obligatoire.
    </div>

    <div class="form-group">
      <label for="duree">Durée (min)</label>
      <input type="number" class="form-control" id="duree" min="0" [(ngModel)]="film.duree" name="duree" required #duree="ngModel">
    </div>
    <div [hidden]="duree.valid || duree.pristine"
         class="alert alert-danger">
      La durée du film est obligatoire.
    </div>

    <div class="form-group">
      <label for="dateSortie">Date de sortie</label>
      <input type="date" class="form-control" id="dateSortie" [(ngModel)]="film.dateSortie" name="dateSortie" required #dateSortie="ngModel">
    </div>
    <div [hidden]="dateSortie.valid || dateSortie.pristine"
         class="alert alert-danger">
      La date de sortie du film est obligatoire.
    </div>

    <div class="form-group">
      <label for="budget">Budget ($)</label>
      <input type="number" class="form-control" id="budget" min="0" [(ngModel)]="film.budget" name="budget" required #budget="ngModel">
    </div>
    <div [hidden]="budget.valid || budget.pristine"
         class="alert alert-danger">
      Le budget du film est obligatoire.
    </div>

    <div class="form-group">
      <label for="montantRecette">Montant de la recette</label>
      <input type="number" class="form-control" id="montantRecette" min="0" [(ngModel)]="film.montantRecette" name="montantRecette" required #montantRecette="ngModel">
    </div>
    <div [hidden]="montantRecette.valid || montantRecette.pristine"
         class="alert alert-danger">
      La recette du film est obligatoire.
    </div>

    <div class="form-group">
      <label for="noRea">Réalisateur</label>
      <select class="form-control" id="noRea" [(ngModel)]="film.noRea" name="noRea" required>
        <option *ngFor="let rea of this.realisateurs" value="{{rea.noRea}}">{{rea.prenRea}} {{rea.nomRea}}</option>
      </select>
    </div>

    <div class="form-group">
      <label for="codeCat">Catégorie</label>
      <select class="form-control" id="codeCat" [(ngModel)]="film.codeCat" name="codeCat" required>
        <option *ngFor="let cat of this.categories" value="{{cat.codeCat}}">{{cat.libelleCat}}</option>
      </select>
    </div>

    <button type="submit" class="btn btn-success" [disabled]="!addFilm.form.valid">Ajouter le film</button>
  </form>
</div>
