<h1>Liste des films du cinema</h1>

<table class="table table-striped">
  <thead class="table-primary">
  <tr>
    <th scope="col">ID</th>
    <th scope="col">Titre</th>
    <th scope="col">Durée</th>
    <th scope="col">Date de sortie</th>
    <th scope="col">Budget</th>
    <th scope="col">Recette</th>
    <th scope="col">Réalisateur</th>
    <th scope="col">Catégorie</th>
    <th scope="col">Informations</th>
    <th scope="col">Supprimer</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let film of this.films">
    <td>{{film.noFilm}}</td>
    <td>{{film.titre}}</td>
    <td>{{film.duree}}</td>
    <td>{{film.dateSortie}}</td>
    <td>{{film.budget}} $</td>
    <td>{{film.montantRecette}} $</td>
    <td>{{film.realisateur.prenRea}} {{film.realisateur.nomRea}}</td>
    <td>{{film.categorie.libelleCat}}</td>
    <td><button type="button" class="btn btn-info" (click)="getFilmInformation(film)">Informations</button></td>
    <td><button type="button" class="btn btn-danger" (click)="deleteFilm(film.noFilm)">Supprimer</button></td>
  </tr>
  </tbody>
</table>

<h1>Informations</h1>
<app-film-information [film]="currentFilm"></app-film-information>
