<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#">Cinema</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
      <li class="nav-item">
        <button type="button" class="btn" (click)="changePage('films')">Films</button>
      </li>
      <li class="nav-item">
        <button type="button" class="btn" (click)="changePage('addFilm')">Ajouter un film</button>
      </li>
    </ul>
  </div>
</nav>

<app-films *ngIf="page == 'films'"></app-films>
<app-add-film *ngIf="page == 'addFilm'"></app-add-film>
